@import '../../styles/color.scss';
@import '../../styles/font.scss';

.menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  .menuItem {
    width: 100%;
    height: fit-content;
    padding: 12px;
    border-radius: 12px;
    @include Format('Medium');
    background: $primary_light;
    color: $grey_dark;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    div {
      border-radius: 100px;
      width: 6px;
      height: 6px;
      background: $grey_dark;
      flex: none;
    }

    &:hover {
      box-shadow: 8px 5px 5px $grey_light;
      transform: translate(0px, -3px);
    }
  }
}