@font-face {
  font-family: 'Black';
  src: url('./NotoSansTC-Black.ttf');
}

@font-face {
  font-family: 'ExtraBold';
  src: url('./NotoSansTC-ExtraBold.ttf');
}

@font-face {
  font-family: 'Bold';
  src: url('./NotoSansTC-Bold.ttf');
}

@font-face {
  font-family: 'SemiBold';
  src: url('./NotoSansTC-SemiBold.ttf');
}

@font-face {
  font-family: 'Medium';
  src: url('./NotoSansTC-Medium.ttf');
}

@font-face {
  font-family: 'Regular';
  src: url('./NotoSansTC-Regular.ttf');
}

@font-face {
  font-family: 'Light';
  src: url('./NotoSansTC-Light.ttf');
}

@font-face {
  font-family: 'ExtraLight';
  src: url('./NotoSansTC-ExtraLight.ttf');
}

@font-face {
  font-family: 'Thin';
  src: url('./NotoSansTC-Thin.ttf');
}