@font-face {
  font-family: 'Black';
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format('opentype'),
    url('./NotoSansTC-Black.ttf');
}

@font-face {
  font-family: 'ExtraBold';
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-ExtraBold.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-ExtraBold.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-ExtraBold.otf) format('opentype'),
    url('./NotoSansTC-ExtraBold.ttf');
}

@font-face {
  font-family: 'Bold';
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype'),
    url('./NotoSansTC-Bold.ttf');
}

@font-face {
  font-family: 'SemiBold';
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-SemiBold.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-SemiBold.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-SemiBold.otf) format('opentype'),
    url('./NotoSansTC-SemiBold.ttf');
}

@font-face {
  font-family: 'Medium';
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format('opentype'),
    url('./NotoSansTC-Medium.ttf');
}

@font-face {
  font-family: 'Regular';
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype'),
    url('./NotoSansTC-Regular.ttf');
}

@font-face {
  font-family: 'Light';
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype'),
    url('./NotoSansTC-Light.ttf');
}

@font-face {
  font-family: 'ExtraLight';
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-ExtraLight.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-ExtraLight.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-ExtraLight.otf) format('opentype'),
    url('./NotoSansTC-ExtraLight.ttf');
}

@font-face {
  font-family: 'Thin';
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype'),
    url('./NotoSansTC-Thin.ttf');
}